<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">アイテム登録画面</h1>
        <td><%= @post.id %></td>
    <%= form_tag("/items/create", {multipart: true})do %>



      <table class="msr_text_05">
        <tr>
          <th><span class="must">必須</span><%= "アイテム写真" %></th>
          <td><input type="file" name="item_image" value="<%= @item.item_image %>"></td>
        </tr>
        <tr>
          <th><span class="must">必須</span><%= "アイテム名" %></th>
          <td><input name="products_name" value="<%= @item.products_name %>"></td>
        </tr>
        <tr>
          <th><span class="must">必須</span><%= "ブランド" %></th>
          <td><input name="brand" value="<%= @item.brand %>"></td>
        </tr>
        <tr>
          <th><span class="must">必須</span><%= "サイズ" %></th>
          <td><input name="size" value="<%= @item.size %>"></td>
        </tr>
        <tr>
          <th><span class="must">必須</span><%= "価格" %></th>
          <td><span>&yen;</span><input name="price" value="<%= @item.price %>"></td>

          <input id="post_id" name="post_id"  value="<%= @post.id %>">
          <!--<%= hidden_field_tag :post_id, @post.id %>-->

        </tr>
      </table>

      <div>
        <ul >
          <input class="btn btn-primary" type="submit" value="登録" >
        </ul>
      </div>
      
    <% end %>
    <br>
    <%= link_to("トップページへ戻る", "/") %>
  </div>
</div>
